@tailwind base;
@tailwind components;
@tailwind utilities;

.dark svg {
  fill: #fff;
}

/* Arrow to contact card on hover */
.contact-card::after {
  content: '↗';
  position: absolute;
  right: 5px;
  bottom: 0px;
  opacity: 0;
  font-size: 16px;
  transition-duration: .15s;
  font-weight: 700;
  color: rgb(124 58 237); /* text-violet-600 */
}

.dark .contact-card::after {
  content: '↗';
  position: absolute;
  right: 5px;
  bottom: 0px;
  opacity: 0;
  font-size: 16px;
  transition-duration: .15s;
  font-weight: 700;
  color: rgb(192 132 252); /* text-purple-400 */
}

.masonry {
  column-count: 1;
  column-gap: 2rem;
}

@screen xs {
  .masonry {
    column-count: 2;
  }
}

@screen md {
  .masonry {
    column-count: 3;
  }
}

/* Aligns the arow on hover */
.contact-card:hover::after {
  opacity: 1;
  right: 12px;
  bottom: 4px;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
